// footer
.footer-fluid {
    background-color: $main_color;
    padding-top: 44px;
    padding-bottom: 39px;
}
.about_us {
    @include mobile() {
        padding: 0px 20px;
    }
    p,
    a {
        color: $white;
    }
    .links {
        justify-content: space-between;
        margin-bottom: 36px;
        @include pad() {
            margin-bottom: 6px;
        }
        .page_link_list {
            @include plus() {
                display: none;
            }
            li {
                margin-right: 48px;
                &:hover {
                    border-bottom: 2px solid $white;
                }
                @include pad() {
                    margin-right: 40px;
                }
                @include plus() {
                    margin-right: 20px;
                }
            }
        }
        .social_link_list {
            li {
                &:not(:first-child) {
                    margin-left: 32px;
                }
                @include pad() {
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                    img {
                        width: 24px;
                    }
                }
            }
            a:hover {
                filter: brightness(50%);
            }
        }
        .call_us_list_mobile {
            display: none;
            @include plus() {
                display: block;
                display: flex;
                align-items: center;
                img {
                    width: 25px;
                    margin-right: 20px;
                }
            }
            @include plus() {
                img {
                    width: 15px;
                }
            }
        }
    }
    .call_us {
        border-bottom: 1px solid $white;
        .call_us_list {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 16px;
                @include plus() {
                    display: none;
                }
            }
            &:nth-child(2) {
                padding-bottom: 24px;
                border-bottom: 1px solid white;
            }
            .pic {
                width: 40px;
                margin-right: 20px;

                @include pad() {
                    width: 36px;
                }
                @include plus() {
                    width: 18px;
                }
                @include mobile() {
                    width: 15px;
                }
            }
        }
    }
}
.contract {
    justify-content: space-between;
    margin-top: 33px;
    @include plus() {
        flex-direction: column;
        align-items: flex-start;
    }
    .policy {
        li {
            margin-left: 48px;
        }
        @include plus() {
            flex-direction: column;
            align-items: flex-start;
            li {
                margin-left: 0;
                &:first-child {
                    margin: 8px 0px;
                }
            }
        }
    }
}
