.blogPage {
    .blog_header-fluid {
        background-color: $type_color;
    }
    .blog_header {
        justify-content: space-between;
        @include plus() {
            justify-content: center;
            padding: 0;
        }
    }
    .blog_header_list {
        @include plus() {
            justify-content: space-evenly;
        }
        li {
            flex: 1 0 0%;
            @include word(20px, 24px);
            margin-right: 24px;
            margin-left: 24px;
            &:nth-child(4) {
                margin-right: 0;
                white-space: nowrap;
            }
            @include plus() {
                font-size: 14px;
                margin-right: 6px;
                margin-left: 6px;
            }
        }
        a {
            text-align: center;
            color: $white;
            padding: 12px 0px;
            &:hover {
                filter: brightness(50%);
            }
        }
    }
    .blog_header_search {
        color: $white;
        cursor: pointer;
        @include plus() {
            display: none;
        }
    }
    .blog_main {
        padding-top: 8px;
        padding-bottom: 160px;
        justify-content: space-between;
        @include pad() {
            padding-bottom: 96px;
        }
        @include plus() {
            padding-bottom: 56px;
        }
    }
    .blog_link {
        margin-bottom: 8px;
        li {
            @include word(16px, 24px);
            &:nth-child(4) {
                a {
                    color: $main_color;
                    &:after {
                        display: none;
                    }
                }
            }
            @include plus() {
                font-size: 12px;
            }
        }
        .link_last {
            margin-bottom: 4px;
        }
        a {
            color: black;
            &:after {
                content: "/";
                padding: 0 12px;
            }
        }
    }
    .blog_tag {
        a {
            @include word(24px, 36px);
            color: $main_color;
            font-weight: bold;
            margin-right: 16px;
        }
    }
    .blog_highlight {
        align-items: flex-start;
        @include plus() {
            flex-direction: column;
        }
    }
    .blog_left_content {
        width: 70%;
        @include plus() {
            width: 100%;
        }
        h2 {
            @include word(48px, 95px);
            margin-bottom: 8px;
            @include pad() {
                font-size: 32px;
            }
            @include plus() {
                @include word(20px, 30px);
            }
        }
        .blog_detail {
            justify-content: space-between;
            margin-bottom: 24px;
            .blogPage_titleEn {
                @include word(28px, 42px);
                font-weight: 800;
                @include pad() {
                    font-size: 16px;
                }
                @include plus() {
                    @include word(14px, 21px);
                }
            }
            .blog_date {
                line-height: 24px;
                color: #6c6c6c;
                font-weight: 800;
                @include pad() {
                    font-size: 14px;
                }
            }
        }
    }
    .blogPage_content {
        margin-bottom: 40px;
        p {
            @include word(20px, 30px);
            color: black;
            opacity: 60%;
            &:nth-child(2) {
                margin-bottom: 12px;
            }
            @include plus() {
                @include word(16px, 24px);
            }
        }
        img {
            width: 100%;
            margin-bottom: 24px;
        }
        .content_nextLine {
            margin-bottom: 24px;
        }
    }
    .social_share {
        padding-bottom: 20px;
        border-bottom: 1px solid #707070;
        margin-bottom: 24px;
        @include pad() {
            border-bottom: none;
        }
        @include plus() {
            border-bottom: 1px solid #707070;
        }
        p {
            @include word(20px, 30px);
            font-weight: bold;
            margin-right: 20px;
        }
        .fab {
            color: black;
            margin-right: 16px;
            &:hover {
                animation: shake 0.8s ease-in;
                @include plus() {
                    animation: none;
                    filter: brightness(40%);
                }
            }
        }
        @keyframes shake {
            0% {
                transform: translate(0);
            }
            20%,
            40%,
            60%,
            80% {
                transform: translate(3px);
            }
            70%,
            100% {
                transform: translate(0);
            }
        }
    }
    .blog_navigation {
        justify-content: space-between;
        a {
            color: black;
            &:hover {
                .fa-arrow-left,
                .fa-arrow-right {
                    color: $main_color;
                }
            }
        }
        .fa-arrow-left {
            margin-right: 12px;
        }
        .fa-arrow-right {
            margin-left: 12px;
        }
        @include pad() {
            display: none;
        }
        @include plus() {
            display: block;
            flex-direction: column;
            p {
                margin-bottom: 8px;
            }
        }
    }
    .blog_navigation_pad {
        display: none;
        justify-content: space-between;
        padding-top: 16px;
        border-top: 1px solid #707070;
        @include pad() {
            display: block;
            display: flex;
        }
        @include plus() {
            display: none;
        }
        a {
            color: black;
        }
        .fa-arrow-left {
            margin-right: 12px;
        }
        .fa-arrow-right {
            margin-left: 12px;
        }
    }
    .blog_right_tag {
        width: 28%;
        margin-left: 2%;
        color: $main_color;
        font-weight: bold;
        @include word(24px, 36px);
        @include plus() {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }
        @include plus() {
            p {
                @include word(20px, 42px);
            }
            a {
                font-size: 16px;
            }
        }
        .tag_list {
            flex-wrap: wrap;
            li {
                margin-bottom: 8px;
                margin-right: 24px;
                @include word(24px, 36px);
                @include pad() {
                    font-size: 16px;
                }
                @include plus() {
                    margin-right: 8px;
                    margin-bottom: 0;
                }
            }
            a {
                color: $main_color;
                font-weight: bold;
            }
        }
    }
}
