.blogPage {
    .nav-fluid {
        background-color: $main_color;
    }
    .nav_bar {
        justify-content: space-between;
        padding: 0px 88px;
        flex-wrap: wrap;
        @include pad() {
            padding: 0px 40px;
        }
        @include plus() {
            padding: 0;
            flex-direction: column;
        }
        .company_logo {
            @include plus() {
                margin: 10px 0px;
            }
            a {
                @include word-hidden;
                background-image: url(../../dist/image/logo.png);
                width: 80px;
                height: 49px;
            }
        }
        .header {
            @include plus() {
                width: 100%;
            }
            .header_link_list {
                flex-wrap: wrap;
                li {
                    text-align: center;
                    margin-left: 64px;
                    @include pad() {
                        margin-left: 40px;
                    }
                    @include plus() {
                        margin-left: 0;
                        width: 50%;
                        border: 1px solid $white;
                    }
                }
                a {
                    color: $white;
                    @include word(20px, 30px);
                    padding-top: 40px;
                    padding-bottom: 40px;
                    &:hover {
                        color: #650300;
                    }
                    @include mobile() {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .blog_header-fluid {
        background-color: $type_color;
    }
    .blog_header {
        justify-content: space-between;
        @include plus() {
            justify-content: center;
            padding: 0;
        }
    }
    .blog_header_list {
        @include plus() {
            justify-content: space-evenly;
        }
        li {
            flex: 1 0 0%;
            @include word(20px, 24px);
            margin-right: 24px;
            margin-left: 24px;
            &:nth-child(4) {
                margin-right: 0;
                white-space: nowrap;
            }
            @include plus() {
                font-size: 14px;
                margin-right: 6px;
                margin-left: 6px;
            }
        }
        a {
            text-align: center;
            color: $white;
            padding: 12px 0px;
            &:hover {
                filter: brightness(50%);
            }
        }
    }
    .blog_header_search {
        color: $white;
        cursor: pointer;
        @include plus() {
            display: none;
        }
    }
    .blog_main {
        padding-top: 8px;
        padding-bottom: 160px;
        justify-content: space-between;
        @include pad() {
            padding-bottom: 96px;
        }
        @include plus() {
            padding-bottom: 56px;
        }
    }
    .blog_link {
        li {
            @include word(16px, 24px);
            &:nth-child(4) {
                a {
                    color: $main_color;
                    &:after {
                        display: none;
                    }
                }
            }
            @include plus() {
                font-size: 12px;
            }
        }
        a {
            color: black;
            &:after {
                content: "/";
                padding: 0 12px;
            }
        }
    }
    .blog_tag {
        a {
            @include word(24px, 36px);
            color: $main_color;
            font-weight: bold;
            margin-right: 16px;
        }
    }
    .blog_highlight {
        align-items: flex-start;
        @include plus() {
            flex-direction: column;
        }
    }
    .blog_left_content {
        width: 70%;
        @include plus() {
            width: 100%;
        }
        h3 {
            @include word(48px, 95px);
            margin-bottom: 8px;
            @include pad() {
                font-size: 32px;
            }
            @include plus() {
                @include word(20px, 30px);
            }
        }
        .blog_detail {
            justify-content: space-between;
            margin-bottom: 24px;
            .blogPage_titleEn {
                @include word(28px, 42px);
                font-weight: 800;
                @include pad() {
                    font-size: 16px;
                }
                @include plus() {
                    @include word(14px, 21px);
                }
            }
            .blog_date {
                line-height: 24px;
                color: #6c6c6c;
                font-weight: 800;
                @include pad() {
                    font-size: 14px;
                }
            }
        }
    }
    .blogPage_content {
        margin-bottom: 40px;
        p {
            @include word(20px, 30px);
            color: black;
            opacity: 60%;
            &:nth-child(2) {
                margin-bottom: 12px;
            }
            @include plus() {
                @include word(16px, 24px);
            }
        }
        img {
            width: 100%;
            margin-bottom: 24px;
        }
        .content_nextLine {
            margin-bottom: 24px;
        }
    }
    .social_share {
        padding-bottom: 20px;
        border-bottom: 1px solid #707070;
        margin-bottom: 24px;
        @include pad() {
            border-bottom: none;
        }
        @include plus() {
            border-bottom: 1px solid #707070;
        }
        p {
            @include word(20px, 30px);
            font-weight: bold;
            margin-right: 20px;
        }
        .fab {
            color: black;
            margin-right: 16px;
            &:hover {
                animation: shake 0.8s ease-in;
                @include plus() {
                    animation: none;
                    filter: brightness(40%);
                }
            }
        }
        @keyframes shake {
            0% {
                transform: translate(0);
            }
            20%,
            40%,
            60%,
            80% {
                transform: translate(3px);
            }
            70%,
            100% {
                transform: translate(0);
            }
        }
    }
    .blog_navigation {
        justify-content: space-between;
        a {
            color: black;
            &:hover {
                .fa-arrow-left,
                .fa-arrow-right {
                    color: $main_color;
                }
            }
        }
        .fa-arrow-left {
            margin-right: 12px;
        }
        .fa-arrow-right {
            margin-left: 12px;
        }
        @include pad() {
            display: none;
        }
        @include plus() {
            display: block;
            flex-direction: column;
            p {
                margin-bottom: 8px;
            }
        }
    }
    .blog_navigation_pad {
        display: none;
        justify-content: space-between;
        padding-top: 16px;
        border-top: 1px solid #707070;
        @include pad() {
            display: block;
            display: flex;
        }
        @include plus() {
            display: none;
        }
        a {
            color: black;
        }
        .fa-arrow-left {
            margin-right: 12px;
        }
        .fa-arrow-right {
            margin-left: 12px;
        }
    }
    .blog_right_tag {
        width: 28%;
        margin-left: 2%;
        color: $main_color;
        font-weight: bold;
        @include word(24px, 36px);
        @include plus() {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }
        @include plus() {
            p {
                @include word(20px, 42px);
            }
            a {
                font-size: 16px;
            }
        }
        .tag_list {
            flex-wrap: wrap;
            li {
                margin-bottom: 8px;
                margin-right: 24px;
                @include plus() {
                    margin-right: 8px;
                    margin-bottom: 0;
                }
            }
            a {
                color: $main_color;
                font-weight: bold;
            }
        }
    }
    .footer-fluid {
        background-color: $main_color;
        padding-top: 44px;
        padding-bottom: 39px;
    }
    .about_us {
        @include mobile() {
            padding: 0px 20px;
        }
        p,
        a {
            color: $white;
        }
        .links {
            justify-content: space-between;
            margin-bottom: 36px;
            @include pad() {
                margin-bottom: 6px;
            }
            .page_link_list {
                @include plus() {
                    display: none;
                }
                li {
                    margin-right: 48px;
                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                    @include pad() {
                        margin-right: 40px;
                    }
                    @include plus() {
                        margin-right: 20px;
                    }
                }
            }
            .social_link_list {
                li {
                    &:not(:first-child) {
                        margin-left: 32px;
                    }
                    @include pad() {
                        &:not(:first-child) {
                            margin-left: 20px;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }
                a:hover {
                    filter: brightness(50%);
                }
            }
            .call_us_list_mobile {
                display: none;
                @include plus() {
                    display: block;
                    display: flex;
                    align-items: center;
                    img {
                        width: 25px;
                        margin-right: 20px;
                    }
                }
                @include plus() {
                    img {
                        width: 15px;
                    }
                }
            }
        }
        .call_us {
            .call_us_list {
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 16px;
                    @include plus() {
                        display: none;
                    }
                }
                &:nth-child(2) {
                    padding-bottom: 24px;
                    border-bottom: 1px solid white;
                }
                .pic {
                    width: 40px;
                    margin-right: 20px;

                    @include pad() {
                        width: 36px;
                    }
                    @include plus() {
                        width: 18px;
                    }
                    @include mobile() {
                        width: 15px;
                    }
                }
            }
        }
    }
    .contract {
        justify-content: space-between;
        margin-top: 33px;
        @include plus() {
            flex-direction: column;
            align-items: flex-start;
        }
        .policy {
            li {
                margin-left: 48px;
            }
            @include plus() {
                flex-direction: column;
                align-items: flex-start;
                li {
                    margin-left: 0;
                    &:first-child {
                        margin: 8px 0px;
                    }
                }
            }
        }
    }
}
