.FAQ {
    .FAQ_list {
        padding-top: 96px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 60px;
            padding-bottom: 96px;
        }
        @include plus() {
            padding-top: 28px;
            padding-bottom: 56px;
        }
        h3 {
            @include sub-title;
        }
        > p {
            @include word(32px, 63px);
            font-weight: bold;
            margin-bottom: 36px;
            @include mobile() {
                font-size: 20px;
            }
            @include pad() {
                margin-bottom: 32px;
            }
            @include plus() {
                margin-bottom: 24px;
            }
        }
    }
    .FAQ_menu {
        li {
            margin-bottom: 32px;
            text-align: justify;
        }
        .question {
            @include word(20px, 23px);
            margin-bottom: 16px;
            font-weight: bold;
            @include mobile() {
                @include word(16px, 24px);
            }
        }
        .answer {
            line-height: 24px;
            margin-left: 59px;
            @include plus() {
                margin-left: 0;
            }
            @include mobile() {
                @include word(14px, 21px);
            }
        }
        .mobile_br {
            display: none;
            @include plus() {
                display: block;
            }
        }
    }
}
