.FAQ {
    .nav-fluid {
        background-color: $main_color;
    }
    .nav_bar {
        justify-content: space-between;
        padding: 0px 88px;
        flex-wrap: wrap;
        @include pad() {
            padding: 0px 40px;
        }
        @include plus() {
            padding: 0;
            flex-direction: column;
        }
        .company_logo {
            @include plus() {
                margin: 10px 0px;
            }
            a {
                @include word-hidden;
                background-image: url(../../dist/image/logo.png);
                width: 80px;
                height: 49px;
            }
        }
        .header {
            @include plus() {
                width: 100%;
            }
            .header_link_list {
                flex-wrap: wrap;
                li {
                    text-align: center;
                    margin-left: 64px;
                    @include pad() {
                        margin-left: 40px;
                    }
                    @include plus() {
                        margin-left: 0;
                        width: 50%;
                        border: 1px solid $white;
                    }
                }
                a {
                    color: $white;
                    @include word(20px, 30px);
                    padding-top: 40px;
                    padding-bottom: 40px;
                    &:hover {
                        color: #650300;
                    }
                    @include mobile() {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
    .FAQ_list {
        padding-top: 96px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 60px;
            padding-bottom: 96px;
        }
        @include plus() {
            padding-top: 28px;
            padding-bottom: 56px;
        }
        h3 {
            @include sub-title;
        }
        > p {
            @include word(32px, 63px);
            font-weight: bold;
            margin-bottom: 36px;
            @include mobile() {
                font-size: 20px;
            }
            @include pad() {
                margin-bottom: 32px;
            }
            @include plus() {
                margin-bottom: 24px;
            }
        }
    }
    .FAQ_menu {
        li {
            margin-bottom: 32px;
            text-align: justify;
        }
        .question {
            @include word(20px, 23px);
            margin-bottom: 16px;
            font-weight: bold;
            @include mobile() {
                @include word(16px, 24px);
            }
        }
        .answer {
            line-height: 24px;
            margin-left: 59px;
            @include plus() {
                margin-left: 0;
            }
            @include mobile() {
                @include word(14px, 21px);
            }
        }
        .mobile_br {
            display: none;
            @include plus() {
                display: block;
            }
        }
    }
    .footer-fluid {
        background-color: $main_color;
        padding-top: 44px;
        padding-bottom: 39px;
    }
    .about_us {
        @include mobile() {
            padding: 0px 20px;
        }
        p,
        a {
            color: $white;
        }
        .links {
            justify-content: space-between;
            margin-bottom: 36px;
            @include pad() {
                margin-bottom: 6px;
            }
            .page_link_list {
                @include plus() {
                    display: none;
                }
                li {
                    margin-right: 48px;
                    &:hover {
                        border-bottom: 2px solid $white;
                    }
                    @include pad() {
                        margin-right: 40px;
                    }
                    @include plus() {
                        margin-right: 20px;
                    }
                }
            }
            .social_link_list {
                li {
                    &:not(:first-child) {
                        margin-left: 32px;
                    }
                    @include pad() {
                        &:not(:first-child) {
                            margin-left: 20px;
                        }
                        img {
                            width: 24px;
                        }
                    }
                }
                a:hover {
                    filter: brightness(50%);
                }
            }
            .call_us_list_mobile {
                display: none;
                @include plus() {
                    display: block;
                    display: flex;
                    align-items: center;
                    img {
                        width: 25px;
                        margin-right: 20px;
                    }
                }
                @include plus() {
                    img {
                        width: 15px;
                    }
                }
            }
        }
        .call_us {
            .call_us_list {
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 16px;
                    @include plus() {
                        display: none;
                    }
                }
                &:nth-child(2) {
                    padding-bottom: 24px;
                    border-bottom: 1px solid white;
                }
                .pic {
                    width: 40px;
                    margin-right: 20px;

                    @include pad() {
                        width: 36px;
                    }
                    @include plus() {
                        width: 18px;
                    }
                    @include mobile() {
                        width: 15px;
                    }
                }
            }
        }
    }
    .contract {
        justify-content: space-between;
        margin-top: 33px;
        @include plus() {
            flex-direction: column;
            align-items: flex-start;
        }
        .policy {
            li {
                margin-left: 48px;
            }
            @include plus() {
                flex-direction: column;
                align-items: flex-start;
                li {
                    margin-left: 0;
                    &:first-child {
                        margin: 8px 0px;
                    }
                }
            }
        }
    }
}
