.location {
    .location_all {
        padding-top: 96px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 60px;
            padding-bottom: 96px;
        }
        @include plus() {
            padding-top: 28px;
            padding-bottom: 56px;
        }
        h3 {
            @include sub-title;
        }
    }
    .location_city {
        margin-bottom: 32px;
        p {
            @include word(24px, 30px);
            margin-right: 20px;
            white-space: nowrap;
            @include pad() {
                font-size: 16px;
                margin-right: 20px;
            }
            @include plus() {
                font-size: 14px;
                margin-right: 12px;
            }
        }
        select {
            width: 324px;
            padding: 8px;
            border: 1px solid #ced4da;
            @include pad() {
                width: 237px;
            }
            @include plus() {
                width: 277px;
            }
        }
    }
    .location_branch_list {
        flex-wrap: wrap;
        @include pad() {
            justify-content: space-between;
        }
    }
    .location_branch_list > li {
        width: 32%;
        margin-bottom: 32px;
        @include pad() {
            width: 48%;
            margin-bottom: 20px;
        }
        @include plus() {
            width: 100%;
            margin: 0;
            margin-bottom: 16px;
        }
    }
    .location_2 {
        margin: 0 1%;
    }
    .location_5_pic {
        height: 225px;
        overflow: hidden;
    }
    .location_name {
        border: 1px solid $border;
        padding: 16px 24px;
        p {
            @include word(24px, 32px);
            @include pad() {
                @include word(16px, 24px);
            }
        }
    }
    .location_content {
        ul {
            border: 1px solid $border;
            padding: 16px 24px;
        }
        li {
            margin-bottom: 8px;
            @include word(20px, 30px);
        }
        .fas,
        .far {
            margin-right: 11px;
            width: 20px;
        }
        input[type="button"] {
            background-color: black;
            color: $white;
            padding: 20px 0px;
            @include word(19px, 27px);
            @include pad() {
                padding: 16px 0px;
            }
        }
    }
}
