.location_branch {
    .location_all {
        padding-top: 96px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 60px;
            padding-bottom: 96px;
        }
        @include plus() {
            padding-top: 28px;
            padding-bottom: 56px;
        }
        h3 {
            @include sub-title;
        }
    }
    .location_city {
        margin-bottom: 32px;
        p {
            @include word(24px, 30px);
            margin-right: 20px;
            white-space: nowrap;
            @include pad() {
                font-size: 16px;
                margin-right: 20px;
            }
            @include plus() {
                font-size: 14px;
                margin-right: 12px;
            }
        }
        select {
            width: 324px;
            padding: 8px;
            border: 1px solid #ced4da;
            @include pad() {
                width: 237px;
            }
            @include plus() {
                width: 277px;
            }
        }
    }
    .location_name {
        border: 1px solid $border;
        padding: 16px 24px;
        p {
            @include word(24px, 32px);
        }
    }
    .location_content {
        ul {
            border: 1px solid $border;
            padding: 16px 24px;
        }
        li {
            margin-bottom: 8px;
            @include word(20px, 30px);
            @include pad() {
                @include word(14px, 21px);
            }
        }
        .fas,
        .far {
            margin-right: 11px;
        }
    }

    .location_branch_content {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .location_branch {
        width: 48%;
        margin-right: 0 1%;
        @include pad() {
            width: 100%;
            .location_branch_list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 32px;
                .location_img,
                .location_content {
                    width: 48%;
                    margin: 0 1%;
                }
                @include plus() {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    .location_img,
                    .location_content {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
    .location_map {
        width: 48%;
        height: 550px;
        @include pad() {
            width: 100%;
            height: 100%;
        }
    }
}
