.product_second {
    .product_header_list {
        display: flex;
        justify-content: center;
        li {
            flex: 1 0 0%;
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            text-align: center;
        }
        a {
            font-weight: bold;
            color: black;
            padding: 14px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                border-bottom: 5px solid $main_color;
            }
            @include pad() {
                padding: 12px 0px;
            }
        }
        p {
            display: inline;
            @include word(32px, 50px);
            @include pad() {
                font-size: 22px;
            }
            @include plus() {
                @include word(14px, 23px);
            }
        }
        .product-icon {
            font-size: 44px;
            @include plus() {
                font-size: 15px;
            }
            @include mobile() {
                font-size: 12px;
            }
        }
    }
    .banner {
        width: 50%;
        height: 304px;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        @include pad() {
            height: 148px;
        }
    }
    .product_info {
        text-align: center;
        color: black;
        padding-top: 80px;
        padding-bottom: 160px;
        @include pad() {
            padding-top: 56px;
            padding-bottom: 96px;
        }
        @include pad() {
            padding-top: 32px;
            padding-bottom: 56px;
        }
        h2 {
            @include word(42px, 63px);
            font-weight: bold;
            @include pad() {
                @include word(32px, 48px);
            }
            @include mobile() {
                @include word(20px, 48px);
            }
        }
        P {
            @include word(32px, 48px);
            margin-bottom: 40px;
            font-weight: bold;
            @include pad() {
                @include word(24px, 36px);
                margin-bottom: 20px;
            }
            @include mobile() {
                @include word(16px, 36px);
            }
        }
    }
    .product_list {
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 30%;
            margin: 0 1%;
            margin-bottom: 104px;
            @include pad() {
                width: 48%;
                margin-bottom: 72px;
            }
            @include plus() {
                width: 100%;
                margin: 0;
                margin-bottom: 32px;
            }
        }
        .product_img {
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .third_pic {
        display: none;
        @include pad() {
            display: block;
        }
        @include plus() {
            display: none;
        }
    }
    .note_pic {
        height: 220px;
        overflow: hidden;
    }
    .third_pic_orig {
        @include pad() {
            display: none;
        }
        @include plus() {
            display: block;
        }
    }
    .mobile_none {
        @include plus() {
            display: none;
        }
    }
    .product_content {
        justify-content: space-between;
        text-transform: uppercase;
        p {
            @include word(24px, 36px);
            @include pad() {
                @include word(24px, 30px);
            }
            @include plus() {
                font-size: 16px;
            }
        }
        .product_price {
            color: $main_color;
        }
    }
    .color_circle {
        border-radius: 4px;
        width: 24px;
        height: 24px;
        &.color_1 {
            background-color: #5f3e2d;
            border: 1px solid #5f3e2d;
            margin-right: 8px;
        }
        &.color_2 {
            background-color: #b75929;
            border: 1px solid #b75929;
        }
    }
}
