body {
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    a {
        text-decoration: none;
        display: block;
    }
    label {
        display: block;
    }
    input {
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
    input[type="button"] {
        -webkit-appearance: none;
        /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
        -moz-appearance: none; /* FireFox */
        appearance: none;
        border-radius: 0;
    }
    select {
        border-radius: 0;
        outline: none;
    }
}
