.df {
    display: flex;
    align-items: center;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-8 {
    margin-bottom: 8px;
}
// color
$bg_pink: #fbf2f2;
$main_color: #aa0601;
$type_color: #650300;
$white: white;
$light_black: #111619;
$border: #00000020;
$gray: #555555;
